.git/
.vs/
.vscode/
.idea/
.codelite/
.cache/
.build-debug/

BIN/
build/

Makefile
*.make
*.DS_STORE

*.bak
*.sln

*.user
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

*.xcodeproj
*.xcworkspace

*.mk
*.project
*.workspace
compile_commands.json
Emulator/Tiny16-Emulator.txt
Assembler/Tiny16-Assembler.txt
Assembler/lib/Tiny16-Assembler-Lib.txt
Assembler/test/Tiny16-Assembler-Tests.txt
